<div class="container">
  <div class="list-group">
    <!--                                                        routerlink one-way data blinding, although we did not identify, but the router, it can show                                    -->
    <a class="list-group-item" *ngFor="let problem of problems" [routerLink]="['/problems', problem.id]">
<!-- in here the problem is the component funciton in the ts document: this problems = PROBLEMS -->
      <span class="{{'pull-left label difficulty diff-' + problem.difficulty.toLocaleLowerCase()}}">{{problem.difficulty}}</span>
      <strong class="title">{{problem.id}}. {{problem.name}}</strong>
    </a>
  </div>
</div>
